.container {
  margin-top: 326px;
  @include block-padding(28px);

  @include media-laptop {
    @include block-padding(42px);
  }

  @include media-mobile {
    margin-top: 0;
    @include block-padding(16px);
  }
}

.findMore {
  padding-bottom: 180px;
  margin-top: 100px;

  @include media-laptop {
    padding-bottom: 140px;
    margin-top: 50px;
  }

  &-text {
    max-width: 544px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    font-weight: 400;
    font-size: 28px;
    line-height: 34px;
    text-align: center;
    color: $full-white-color;
    margin-bottom: 106px;

    @include media-laptop {
      max-width: 380px;
      font-size: 18px;
      line-height: 22px;
      margin-bottom: 50px;
    }
  }

  &-links {
    @include flex-align(center);
    gap: 164px;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;

    @include media-laptop {
      gap: 80px;
    }
  }
}

.seeMore {
  display: block;
  margin: 100px auto 0;
  padding-bottom: 200px;
  width: fit-content;

  @include media-laptop {
    margin-top: 50px;
    padding-bottom: 150px;
  }

  @include media-mobile {
    padding-bottom: 100px;
  }

  &-item {
    background-color: transparent;
    border: 0;
    min-width: 255px;

    @include media-laptop {
      min-width: 175px;
    }

    @include media-mobile {
      min-width: 144px;
    }
  }

  &-desc {
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    margin-top: 28px;
    color: $full-white-color;
    text-align: center;
  }
}
