.container {
  display: flex;
  flex-direction: column;
  width: 262px;
  height: 280px;
  position: relative;
  
  &:hover .shape1,
  &:hover .shape2 {
    stroke-dashoffset: 0;
    stroke-dasharray: 1600;
  }
}

.inner {
  padding: 28px 18px;
  position: absolute;
}

.shape1,
.shape2 {
  stroke-dasharray: 1600;
  stroke-width: 4px;
  fill: transparent;
  stroke: $full-white-color;
  transition-timing-function: linear;
  transition: stroke-dashoffset 4s, stroke-dasharray 4s;
}

.shape1 {
  stroke-dashoffset: 1600;
}

.shape2 {
  stroke-dashoffset: -1600;
}

.title {
  font-weight: 600;
  font-size: 28px;
  line-height: 1.2;
  color: $full-white-color;
  margin-bottom: auto;
}

.description {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.2;
  color: $main-gray-color;
}
