.container {
  @include flex-justify-align(center, center);
  flex-direction: column;
  background-color: $main-black-color;
  height: 100%;
  overflow: hidden;
  position: relative;

  &:before,
  &:after {
    content: '';
    position: absolute;
    top: calc((100% - 430px) / 2);
    width: 624px;
    height: 430px;
    pointer-events: none;
    z-index: 1;

    @include media-laptop {
      top: calc((100% - 600px) / 2);
      width: 406px;
      height: 600px;
    }

    @include media-mobile {
      display: none;
    }
  }

  &:before {
    background: url("../../../assets/images/patterns/patterns_left-side--white.svg") no-repeat center / 100%;
    left: 0;
  }

  &:after {
    background: url("../../../assets/images/patterns/patterns_right-side--white.svg") no-repeat center / 100%;
    right: 0;
  }
}

.title {
  font-family: 'Syne', sans-serif;
  font-weight: 800;
  font-size: 90px;
  line-height: 108px;
  color: $full-white-color;
  text-transform: uppercase;
  margin-bottom: 100px;

  @include media-laptop {
    font-size: 60px;
    line-height: 72px;
    margin-bottom: 50px;
  }

  @include media-mobile {
    font-size: 30px;
    line-height: 36px;
    margin-bottom: 86px;
  }
}

.description {
  max-width: 544px;
  width: 100%;
  font-weight: 600;
  font-size: 28px;
  line-height: 34px;
  color: $full-white-color;
  margin-bottom: 50px;
  text-align: center;

  @include media-laptop {
    max-width: 380px;
    font-size: 18px;
    line-height: 22px;
  }
}

