.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 6;
  background-color: $main-gray-color;
  transition: width 0.7s linear;
  animation-name: loadAsideBar;
  animation-duration: 2s;

  &--close:before {
    content: '';
    position: absolute;
    bottom: 28px;
    right: 22px;
    height: 60px;
    width: 6px;
    background: url('../../assets/arrow_down_icon.svg');
    @include floating-animation;
  }
}

@keyframes loadAsideBar {
  0% {
    height: 0;
    transition: height 1s ease-in-out;
  }
  100% {
    height: 100vh;
    transition: height 1s ease-in-out;
  }
}

.shortHeading {
  position: absolute;
  top: 75px;
  right: -28px;
  width: 120px;
  height: 34px;
  font-family: 'Syne', sans-serif;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  text-align: right;
  color: $secondary-gray-color;
  transform: rotate(-90deg);
  animation-name: loadShortHeading;
  animation-duration: 4s;

  @include media-mobile {
    font-size: 12px;
    line-height: 14px;
    right: -43px;
    top: 60px;
  }
}

@keyframes loadShortHeading {
  0% {
    color: transparent;
    transition: color 1s ease-in-out;
  }
  50%,
  100% {
    color: $secondary-gray-color;
    transition: color 1s ease-in-out;
  }
}

.fullInfo {
  width: 804px;
  margin: auto;
  text-align: center;
  padding-top: 120px;
  padding-bottom: 120px;

  @include media-laptop {
    max-width: 700px;
    width: 100%;
  }

  @include media-mobile {
    max-width: 328px;
    padding-top: 70px;
    padding-bottom: 70px;
  }

  &-hello {
    margin-bottom: 20px;
  }

  &-title {
    margin-top: 84px;
    margin-bottom: 129px;

    @include media-laptop {
      margin-bottom: 150px;
      margin-top: 50px;
    }

    @include media-mobile {
      margin-bottom: 50px;
    }
  }

  &-about {
    margin-bottom: 45px;

    @include media-laptop {
      margin-bottom: 28px;
    }
  }
}

.step1,
.step2,
.step3,
.step4,
.step5,
.step6 {
  opacity: 0;
  animation-duration: 1.5s;
  animation-name: appearance;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-timing-function: linear;
}

.step1 {
  animation-delay: 1.5s;
}

.step2 {
  animation-delay: 2s;
}

.step3 {
  animation-delay: 1s;
}

.step4 {
  animation-delay: 2.5s;
}

.step5 {
  animation-delay: 3s;
}

.step6 {
  animation-delay: 3.5s;
}

@keyframes appearance {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
