.container {
  @include block-padding(67px);
  padding-bottom: 36px;
  text-align: right;
  background-color: $main-black-color;
  position: relative;

  p {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.2;
    color: $secondary-gray-color;
  }

  span {
    font-weight: 700;
  }
}

.scrollTop {
  background-color: transparent;
  border: none;
  padding: 10px;
  position: absolute;
  left: 18px;
  bottom: 18px;
  width: 27px;
  height: 80px;
  z-index: 2;
  @include floating-animation;
}