.container {
  display: flex;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 6;
  background-color: $main-gray-color;
  transition: width 0.7s linear;

  &.isClose:before {
    content: '';
    position: absolute;
    bottom: 28px;
    right: 22px;
    height: 60px;
    width: 6px;
    background: url('../../../../../assets/images/arrow_down_icon.svg');
  }
}

.shortHeading {
  position: absolute;
  top: 75px;
  right: -28px;
  width: 120px;
  height: 34px;
  font-family: 'Syne', sans-serif;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  text-align: right;
  color: $secondary-gray-color;
  transform: rotate(-90deg);
}

.fullInfo {
  width: 804px;
  margin: auto;
  text-align: center;
  animation-name: fadeInFullInfo;
  animation-duration: 2s;

  &-hello {
    margin-bottom: 20px;
  }

  &-title {
    margin-top: 84px;
    margin-bottom: 129px;
  }

  &-about {
    margin-bottom: 45px;
  }
}

@keyframes fadeInFullInfo {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
