.container {
  width: 80px;
  height: 28px;
  position: relative;
  cursor: pointer;
  margin-left: auto;
  background-color: transparent;
  border: 0;
  padding: 10px;
  z-index: 9;

  &:before,
  &:after {
    content: '';
    position: absolute;
    left: 10px;
    height: 2px;
    width: calc(100% - 20px);
    background-color: $main-gray-color;
    z-index: 5;
    transition: all .3s ease-in-out;
  }

  &:before {
    top: 10px;
  }

  &:after {
    bottom: 10px;
  }

  &--black {
    &:before,
    &:after {
      background-color: $main-black-color;
    }
  }

  &--open {
    margin-right: 5px;

    &:before {
      transform: rotate(7deg);
      top: 13px;
      transition: all .3s ease-in-out;
    }

    &:after {
      transform: rotate(-7deg);
      bottom: 13px;
      transition: all .3s ease-in-out;
    }
  }
}