.container {
	@include flex-justify-align(space-between, center);
	padding: 10px 32px 10px 42px;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 7;

	@include media-laptop {
		padding: 18px 32px 18px 42px;
	}

	@include media-mobile {
		padding: 4px 6px 4px 16px;
	}
}
