.container {
  width: 100%;
  height: 100%;
}

.item {
  z-index: 2;
  width: 100%;
  height: auto;

  &:hover {
    cursor: url("../../../../assets/images/cursor/cursor_pause.svg") 50 50, pointer;
  }
}

.hideMouseEvents {
  pointer-events: none;
}