.container {
  width: 100%;
  height: 200px;
  position: absolute;
  left: 0;
  bottom: 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  pointer-events: none;

  @include media-laptop {
    height: 150px;
  }

  @include media-mobile {
    height: 80px;
  }

  &--black {
    background-image: url("../../../../assets/images/patterns/patterns_next-block-blur--black.svg");
  }

  &--white {
    background-image: url("../../../../assets/images/patterns/patterns_next-block-blur--white.svg");
  }
}

.scrollDownIcon {
  position: absolute;
  bottom: 28px;
  left: calc((100% - 7px) / 2);
  @include floating-animation;

  @include media-mobile {
    bottom: 16px;
  }
}