.container {
  font-family: 'Syne', sans-serif;
  font-weight: 800;
  font-size: 90px;
  line-height: 108px;
  text-transform: uppercase;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;

  @include media-laptop {
    font-size: 60px;
    line-height: 72px;
  }

  @include media-mobile {
    font-size: 30px;
    line-height: 36px;
  }

  &--white {
    color: $main-gray-color;
  }
}

