.container {
  background-color: $main-black-color;
  padding-top: 228px;
  margin-top: 10px;
  position: relative;

  @include media-laptop {
    padding-top: 150px;
  }

  @include media-mobile {
    padding-top: 100px;
  }
}

.heading {
  max-width: 847px;
  position: relative;

  @include media-laptop {
    max-width: 565px;
  }

  @include media-mobile {
    max-width: 283px;
  }

  &:after {
    content: '';
    position: absolute;
    bottom: -278px;
    left: calc((100% - 360px) / 2);
    width: 360px;
    height: 248px;
    background: url('../../assets/selectedWorks/patterns_selected-works.svg') no-repeat center / 100%;

    @include media-mobile {
      bottom: -168px;
      left: calc((100% - 220px) / 2);
      width: 220px;
      height: 152px;
    }
  }
}
