.container {
  &:not(:last-of-type) {
    margin-bottom: 50px;

    @include media-mobile {
      margin-bottom: 24px;
    }
  }
}

.title {
  font-weight: 600;
  font-size: 28px;
  line-height: 34px;
  margin-bottom: 17px;

  @include media-laptop {
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
  }

  @include media-mobile {
    font-size: 14px;
    line-height: 17px;
  }
}

.workInfo {
  margin-bottom: 17px;
  font-size: 14px;
  line-height: 1.2;
  color: $secondary-gray-color;

  @include media-laptop {
    margin-bottom: 20px;
  }

  @include media-laptop {
    font-size: 12px;
    margin-bottom: 16px;
  }
}

.desc {
  &[open] {
    animation: openDetailsAnimation 1s 1 ease-in-out;
  }

  &[open] &-heading {
    display: none;
  }

  dd {
    font-size: 14px;
    line-height: 17px;
    color: $main-black-color;

    @include media-mobile {
      font-size: 12px;
      line-height: 15px;
    }
  }

  li {
    position: relative;

    &::first-letter {
      padding-left: 9px;
    }

    &::before {
      content: '•';
      position: absolute;
      left: 2px;
      color: $main-black-color;
      font-weight: 400;
      font-size: 14px;
      line-height: 17px;
    }
  }
}

@keyframes openDetailsAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.desc-list {
  &:not(:last-child) {
    margin-bottom: 17px;
  }
}

.desc-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: $main-black-color;

  @include media-mobile {
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
  }
}