// Breakpoints use in mixins
$low-mobile-bp: 375px;
$mobile-bp: 1024px;
$tablet-bp: 1310px;

// Colors
$primary: #ac28f5;
$primaryHover: #c55fff;

$main-black-color: #0c0c0c;
$main-gray-color: #f0f0f0;
$secondary-gray-color: #7c7c7c;
$full-black-color: #000;
$full-white-color: #fff;

$body-bg-color: #011a27;
$border-color: #fff;
