// Breakpoints use in mixins
$low-mobile-bp: 375px;
$mobile-bp: 1024px;
$tablet-bp: 1310px;

// Colors
$primary: #ac28f5;
$primaryHover: #c55fff;

$main-black-color: #0C0C0C;
$main-gray-color: #F0F0F0;
$secondary-gray-color: #7C7C7C;
$full-black-color: #000;
$full-white-color: #fff;

$body-bg-color: #011A27;
$border-color: #fff;