@import 'vars';
@import 'mixins';

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  height: 100%;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  line-height: 1;
  font-weight: 400;
  height: 100%;
  overflow-x: hidden;
  color: $main-black-color;
  background-color: $main-gray-color;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  cursor: pointer;
}

#root {
  height: 100%;
}

ul,
ol {
  list-style-type: none;
}
